<h2>Analysis Controls</h2>
<!--TODO: CHANGE BACK TO analysis_servers_path, etc-->
<ul>
  <li><%= link_to 'Manage Strategies', analysis_strategies_path %></li>
  <li><%= link_to 'Manage Servers', analysis_servers_path %></li>
  <li><%= link_to 'Manage Simulations', analysis_simulations_path %></li>
</ul>